@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


:root {
    --background-color: #fff;
    --background-color-2: #fff;
    --text-color: #000;
    --text-color-2: #333;
    --accent-color: #3c81ce;

    --card-width: min(350px, 99vw);
    --card-height: 400px;
    --card-detail-height: 120px;
    --card-border-radius: 12px;

    --card-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    --card-border: none;

}

body {
    --dark-mode: false;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1e24;
        --background-color-2: #262a38;
        --text-color: #fff;
        --text-color-2: #bbb;
        --accent-color: #4bcec9;
    }

    body {
        --dark-mode: true;
    }
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--accent-color);
}

.waves {
    width: 100vw;
    height: 110vh;
}

.waves-canvas {
    width: 100vw;
    height: 110vh;
    position: absolute;
    top: 0;
    left: 0;
}

.waves-fallback {
    width: 100%;
    height: 100%;
    background: url('assets/waves-fallback.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.waves-content {
    --background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.profile-card {
    color: var(--text-color);
    background: var(--background-color);
    border-radius: 10px;
    padding: 18px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin-top: -36px;
}

.avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-image: url('assets/icon.png');
    background-size: cover;
    background-position: center;
}

.name {
    font-size: 36px;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 4px;
}

.tagline {
    color: var(--text-color-2);
    font-size: 14px;
    height: 18px;
    text-align: center;
    opacity: 1;
    transition: 250ms all ease-in-out;
    transform: scale(1);
}

.tagline.hide {
    opacity: 0;
    transform: scale(0.95);
}

.tagline.remove {
    display: none;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
}

.button {
    background-color: var(--accent-color);
    color: var(--background-color);
    border: 2px solid var(--accent-color);
    border-radius: 4px;
    padding: 6px 18px;
    box-sizing: border-box;
    margin: 0 6px;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    text-transform: capitalize;
    transition: 1s all;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
}

.section .title {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.section .subhead {
    color: var(--text-color-2);
    margin-top: 0;
}

.projects-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    min-height: var(--card-height);
}

.project-card {
    color: var(--text-color);
    background: var(--background-color-2);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px;
    width: var(--card-width);
    height: var(--card-height);
    border: var(--card-border);
    box-shadow: var(--card-box-shadow);
    text-decoration: none;
    color: inherit;
}

.project-hero {
    width: 100%;
    height: var(--card-width);
    flex-shrink: 1;
    border-radius: 6px 6px 0 0;
    background-color: var(--background-color-2);
    background-size: cover;
    background-position: center;
}

.project-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: var(--card-detail-height);
    min-height: var(--card-detail-height);
    box-sizing: border-box;
    padding: 12px;
}

.project-name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.project-desc {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color-2);
    margin: 0;
    margin-top: 12px;
}

.error {
    font-size: large;
    font-weight: 700;
    font-size: 24px;
    color: var(--text-color-2);
    height: var(--card-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-height {
    min-height: 100vh;
}

.table {
    display: flex;
    color: var(--text-color-2);
}

.col {
    display: flex;
    flex-direction: column;
}

.col.first .ele {
    font-weight: bold;
    text-align: end;
    padding-left: 1em;
}

.col.second .ele {
    text-align: start;
    padding-right: 1.5em;
}

.col.shrink {
    flex-shrink: 1;
}

.col.grow {
    flex-grow: 1;
}

.ele {
    padding: 0.3em 2px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}

.ele:first-child {
    padding-top: 0;
}

.ele:last-child {
    border-bottom: none;
}